//随机数字
@function parse-random($value) {
  @return round(random() * $value);
}
$randomId: parse-random(1000000);

$spriteSrc: "~@/assets/sprite.png?v=1535099267000";
$spriteWidth: 148px;
$spriteHeight: 88px;
  $activity-bactive: -92px 0px 56px 56px;
  $add: 0px 0px 88px 88px;
  $psw: -92px -60px 13px 16px;
  $user: -109px -60px 13px 16px;

@function px2rem ($px) {
  // web端使用的话，直接返回$px，即不做转换，另外此处转换以75px为底？ 在手机项目中值得商榷
  @return $px;
  @if (type-of($px) == "number") {
    @return $px / 75px * 1rem;
  }
  @if (type-of($px) == "list") {
    @if (nth($px, 1) == 0 and nth($px, 2) != 0) {
      @return 0 nth($px, 2) / 75px * 1rem;
    } @else if (nth($px, 1) == 0 and nth($px, 2) == 0)  {
      @return 0 0;
    } @else if (nth($px, 1) != 0 and nth($px, 2) == 0) {
      @return nth($px, 1) / 75px * 1rem 0;
    } @else {
     @return nth($px, 1) / 75px *1rem nth($px, 2) / 75px * 1rem;
    }
  }
}

@function strip-units($number){
  @return $number / ($number * 0 + 1);
}

@function format-zero($number){
  @if $number == 0 {
    @return 1;
  }@else{
    @return $number;
  }
}

@mixin sprite-width($sprite, $precision) {
  @if $precision {
    width: px2rem(nth($sprite, 3));
  }@else{
    width: px2rem(nth($sprite, 3) + 2px);
}

}

@mixin sprite-height($sprite, $precision) {
  @if $precision {
    height: px2rem(nth($sprite, 4));
  }@else{
    height: px2rem(nth($sprite, 4) + 2px);
  }
}

@mixin sprite-position($sprite, $precision) {
  @if $precision {
    background-position: strip-units(nth($sprite, 1)) / strip-units(nth($sprite, 3) - $spriteWidth) * 100%  strip-units(nth($sprite, 2)) / format-zero(strip-units(nth($sprite, 4) - $spriteHeight)) * 100%;
  }@else{
    background-position: strip-units(nth($sprite, 1)) / strip-units(nth($sprite, 3) + 1 - $spriteWidth) * 100%  strip-units(nth($sprite, 2)) / format-zero(strip-units(nth($sprite, 4) + 1 - $spriteHeight)) * 100%;
  }
}

@mixin sprite($sprite, $precision) {
  @include sprite-position($sprite, $precision);
  @include sprite-width($sprite, $precision);
  @include sprite-height($sprite, $precision);
  background-image: url('#{$spriteSrc}');
  background-repeat: no-repeat;
  background-size: px2rem(($spriteWidth, $spriteHeight));
  display: inline-block;
}

// 使用方法：生成的雪碧图的类型全部是mixin,所以在特定的类名中@include mixin()即可
  @mixin mix-activity-bactive() {
    @include sprite($activity-bactive, $precision: false);
  }
  @mixin mix-add() {
    @include sprite($add, $precision: false);
  }
  @mixin mix-psw() {
    @include sprite($psw, $precision: false);
  }
  @mixin mix-user() {
    @include sprite($user, $precision: false);
  }
